#top_bar {
	/* background-color:#ddd; */
	margin-bottom:15px;
}

#taskopedia_title {
	font-size:40pt;
}

#taskopedia_subtitle {
	margin-top:8px;
	font-size:12pt;
	font-style:italic;
}

#logo_img {
}

#current_tasks_title {
	font-size:15pt;
	font-weight:600;
}

.main_task {
	border:1px solid gray;
	padding:10px;
	font-size:12pt;
}

#about_taskopedia_title {
	font-size:15pt;
	font-weight:600;
}
