#top_bar {
	margin-bottom:15px;
}

#taskopedia_title {
	font-size:40pt;
	color:#999;
}

#taskopedia_subtitle {
	margin-top:8px;
	font-size:12pt;
	font-style:italic;
}

#logo_img {
}

#current_tasks_title {
	font-size:15pt;
	color:#777;
}

.main_task {
	border:1px dashed gray;
	width:350px;
	padding:12px;
	font-size:12pt;
	margin:10px;
	margin-left:0px;
	background-color:#eee;
	font-size:11pt;
	font-family:arial;
}

.main_task_link {
	color:black;
}

#about_taskopedia_title {
	font-size:15pt;
	color:#777;	
}

