#taskopedia_title {
	text-decoration:none;
	font-size:14pt;
}

#taskopedia_title:hover {
	text-decoration:underline;
}

#top_panel {
	color:gray;
}

#top_panel a {
	color:gray;
}

#main_task_info {
	text-decoration:none;
}

#main_task_info:hover {
	text-decoration:underline;
}